<h1>Word Game</h1>
<h2>Scoring</h2>

<h2>Your guess: <%= @guess %></h2>
<h2>Your score is: <%= @results[:score].round(2)%></h2>


<h2>Translation:    <%= @results[:translation] %></h2>

<h2><%= @results[:message] %></h2>

<br>
<%= link_to "Play again!", :controller => "wordgame", :action => "game" %>
